table{
    width: 100%;
    text-align:  center;
}
body{
    height: 960px;
}
td{width: 5%;
height: 100%;
}
h1{
    text-align: center;
    font-size: 60px;
}
#divisao {
    height: 40px;
}
#Não-metais{background-color:green;}
#Metaisalcalinos{background-color: orange;}
#Metaisalcalinosterrosos{background-color: yellow;}
#Metaisdetransição{background-color: salmon;}
#Lantanídeos{background-color: darksalmon;}
#Actinídeos {background-color: pink;}
#Metaisrepresentativos {background-color: aquamarine;}
#Semi-metais {background-color: greenyellow;}
#Halogênios {background-color: aqua;}
#Gasesnobres {background-color: blue;}