*{
  margin: 0;
}
header {
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    align-items: center;
  }

  #inicio {
    color: red;
  }
